<div id="main">
    
    <div id="mtbl">
        <h2 style="text-align: center;">Searched Car</h2>
      
        <table>
            <tr>
                <td>
                    Reg_no
                </td>
                <td>
                    Company
                </td>
                <td>
                    Model
                </td>
                <td>
                    Year_Of_Manufacturing
                </td>
                <td>
                    Owner
                </td>
            </tr>
        
            <tr>
                <td>
                    {{carEntity["car_reg_no"]}}
                </td>
                <td>
                    {{carEntity["car_company"]}}
                </td>
                <td>
                    {{carEntity["car_model"]}}
                </td>
                <td>
                    {{carEntity["car_yearof_manufacturing"]}}
                </td>
                <td>
                    {{carEntity["car_ownername"]}}
                </td>
               
            </tr>
        
        </table>
    
    </div>
</div>